PY_INCS := \ 
 -Wno-old-style-cast \ 
-I/media/henning/ssd1linux/miniconda3/envs/omsim-py310/include/python3.10 \ 
-I/media/henning/ssd1linux/miniconda3/envs/omsim-py310/include/python3.10


PY_LIBS := \ 
-L/media/henning/ssd1linux/miniconda3/envs/omsim-py310/lib/python3.10/config-3.10-x86_64-linux-gnu \ 
-L/media/henning/ssd1linux/miniconda3/envs/omsim-py310/lib \ 
-Wl,-rpath=/media/henning/ssd1linux/miniconda3/envs/omsim-py310/lib \ 
-lpython3.10


CONAN_INCS := \
{{{CONAN_INCS_INCS}}}

CONAN_LIBS := \
{{{CONAN_INCS_LIBS}}}

EXE_INC = \
    -I$(LIB_SRC)/finiteVolume/lnInclude \
    -I$(LIB_SRC)/meshTools/lnInclude \
    -I../externalComm/lnInclude \
    $(PY_INCS) \
    $(CONAN_INCS)

LIB_LIBS = \
    -lfiniteVolume \
    -lmeshTools \
    -L$(FOAM_USER_LIBBIN) \
    -lexternalComm \
    $(PY_LIBS) \
    $(CONAN_LIBS)
